# Workflow for running automated tests.

name: Automated Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - add-screen-reader-support-experimental

permissions:
  contents: read

jobs:
  webdriverio_tests:
    name: WebdriverIO tests (against add-screen-reader-support-experimental core develop)
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout experimentation plugin
        uses: actions/checkout@v4
        with:
          path: main

      - name: Checkout experimentation Blockly
        uses: actions/checkout@v4
        with:
          repository: 'google/blockly'
          ref: 'add-screen-reader-support-experimental'
          path: core-blockly

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: NPM install
        run: |
          cd main
          npm install
          cd ..
          cd core-blockly
          npm install
          cd ..

      - name: Link latest Blockly add-screen-reader-support-experimental
        run: |
          cd core-blockly
          npm run package
          cd dist
          npm link
          cd ../../main
          npm link blockly
          cd ..

      - name: Run tests
        run: |
          cd main
          npm run test:ci
