# Workflow for running automated tests.

name: Automated Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  webdriverio_tests_tip_of_tree_v12:
    name: WebdriverIO tests (against tip-of-tree core develop)
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            BLOCKLY_WDIO_PAUSE_TIME_MS: donotoverride
          - os: macos-latest
            BLOCKLY_WDIO_PAUSE_TIME_MS: 100

    steps:
      - name: Checkout experimentation plugin
        uses: actions/checkout@v4
        with:
          path: main

      - name: Checkout core Blockly
        uses: actions/checkout@v4
        with:
          repository: 'google/blockly'
          ref: 'develop'
          path: core-blockly

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: NPM install
        run: |
          cd main
          npm install
          cd ..
          cd core-blockly
          npm install
          cd ..

      - name: Link latest Blockly develop
        run: |
          cd core-blockly
          npm run package
          cd dist
          npm link
          cd ../../main
          npm link blockly
          cd ..

      - name: Run tests
        run: |
          cd main
          npm run test:ci
        env:
          BLOCKLY_WDIO_PAUSE_TIME_MS: ${{ matrix.BLOCKLY_WDIO_PAUSE_TIME_MS }}

  webdriverio_tests:
    name: WebdriverIO tests (against pinned v12)
    # Don't run pinned version checks for PRs.
    if: ${{ !github.base_ref }}
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout experimentation plugin
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: NPM install
        run: npm install

      - name: Run tests
        run: npm run test:ci
